@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
}

body {
  overflow-x: hidden;
}

.nav_items {
  width: 25vw;
}

.table_title {
  width: 79vw;
  display: flex;
  justify-content: space-between;
}

.table_head {
  width: 45vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid black;
}

.table_body {
  width: 60vw;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.card {
  width: 25vw;
  height: 20vh;
  margin-bottom: 5px;
}

.layout_header {
  width: 15vw;
}

.main_body {
  position: relative;
  right: 9vw;
  height: 100vh;
}
